$primary-bg-color: #4e5d6c;
$bg-accent: #485563;
$primary-color: #df691a;
$form-text-color: #ebebeb;
$success-color: #5cb85c;
$info-color: #333;
$warning-color: #f0ad4e;
$danger-color: #d9534f;
$active-color: #333;
$color1: #77b300;
$color2: #2a9fd6;
$color3: #2b3e50;
$color4: #9933cc;
$color5: #cc0000;
$dark: #2b3e50;
$very-dark: #272b30;
$light-grey: #CCC;

$radius-round: 5;