<!DOCTYPE html>
<html>
  <head>
    <title>ParticleFire</title>
    <%= csrf_meta_tags %>

    <%= render 'layouts/head_layout' %>
  </head>

  <body>

    <%= yield %>

    <div class="footer-wrapper">
      <div class="footer-content">
        <p>
          &copy; 2016
          &nbsp;<a class="light-grey">Brad Carlson</a>
        </p>
      </div>
    </div>


  </body>
</html>
